In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix, mean_squared_error, r2_score, classification_report
from src.modelado import dividir_variables
from src.modelado import dividir_datos
from src.modelado import pipeline_preprocesamiento
from src.modelado import entrenar_modelo_clasificacion
from src.modelado import evaluar_clasificacion

In [4]:
df = pd.read_csv("../data/tattoo_studio_clean.csv")
df.head()

,Age,Gender,Day_of_Week,Session_Type,Tattoo_Size,Tattoo_Style,Artist_Name,Session_Hours,Final_Rate,Customer_Satisfaction
0,46,Female,Friday,Pre-booked,Sleeve/Back,Minimalist,Artist B,9,47647,3
1,32,Male,Saturday,Walk-in,Small,Custom,Artist C,1,42498,2
2,25,Male,Friday,Pre-booked,Sleeve/Back,Custom,Artist A,10,19778,1
3,38,Female,Friday,Pre-booked,Medium,Script,Artist D,4,5478,4
4,36,Male,Wednesday,Pre-booked,Sleeve/Back,Tribal,Artist B,10,32471,1

In [5]:
y = df["Customer_Satisfaction"]
X = df.drop(columns=["Customer_Satisfaction"])
X.head(), y.head()

(   Age  Gender Day_of_Week Session_Type  Tattoo_Size Tattoo_Style Artist_Name  \
 0   46  Female      Friday   Pre-booked  Sleeve/Back   Minimalist    Artist B
 1   32    Male    Saturday      Walk-in        Small       Custom    Artist C
 2   25    Male      Friday   Pre-booked  Sleeve/Back       Custom    Artist A
 3   38  Female      Friday   Pre-booked       Medium       Script    Artist D
 4   36    Male   Wednesday   Pre-booked  Sleeve/Back       Tribal    Artist B

    Session_Hours  Final_Rate
 0              9       47647
 1              1       42498
 2             10       19778
 3              4        5478
 4             10       32471  ,
 0    3
 1    2
 2    1
 3    4
 4    1
 Name: Customer_Satisfaction, dtype: int64)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

X_train.shape, X_test.shape

((1600, 9), (400, 9))

In [7]:
columnas_numericas = X.select_dtypes(include=["int64", "float64"]).columns.tolist()
columnas_categoricas = X.select_dtypes(include=["object"]).columns.tolist()

columnas_numericas, columnas_categoricas

(['Age', 'Session_Hours', 'Final_Rate'],
 ['Gender',
  'Day_of_Week',
  'Session_Type',
  'Tattoo_Size',
  'Tattoo_Style',
  'Artist_Name'])