# Modelado de base de datos imaginaria, para probar la efectividad del modelo
se importa panda y pickle para llamar las bases de datos y el modelo

In [1]:
import pandas as pd
import pickle

se lee la base de datos imaginaria

In [2]:
df_pred = pd.read_csv("../data/dataset_2.csv")

se llama el modelo para no volver a entrenar los datos

In [4]:
with open("../data/modelo.pkl", "rb") as f:
    modelo = pickle.load(f)

se escoge la variable a predecir que quedara ilustrada como una columna

In [5]:
df_pred["Predicted_Session"] = modelo.predict(df_pred)

se genera la nueva base de datos con la columna de la predicci√≥n.

In [6]:
df_pred.to_csv("../data/tattoo_predictions_modelado2_con_predicciones.csv", index=False)

nostramos los 5 primeros resultados de nuestro modelo

In [7]:
df_pred.head()

,Age,Gender,Day_of_Week,Session_Type,Tattoo_Size,Tattoo_Style,Artist_Name,Predicted_Session
0,43,Male,Sunday,Pre-booked,Medium,Realism,Artist B,Corto
1,39,Male,Tuesday,Pre-booked,Small,Custom,Artist B,Corto
2,37,Male,Saturday,Pre-booked,Large,Custom,Artist C,Medio
3,22,Male,Thursday,Pre-booked,Sleeve/Back,Script,Artist D,Largo
4,58,Male,Thursday,Walk-in,Medium,Minimalist,Artist E,Medio